---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="pt-10">
      <h1>Films seleccionados</h1>
      <h2>Temporada pre-2023</h2>
      <article>
        <YouTube id="_rtzUU6jHH0" />
        <div class="p-1">
          <strong>Química Elemental</strong> por Roberto Herrera-Glenewinkel
        </div>
        <div class="scanlines"></div>
      </article>
    </main>
    <div class="container mx-auto py-16 text-center">
      <!-- → ⟹ ➝ ➞ ➟ -->
      Participa con tu cortometraje ☞ <button class="button--primary ml-4"
        >Enviar</button
      >
    </div>
    <Footer />
    <style>
      main {
        @apply container mx-auto;
      }

      article {
        @apply relative max-w-screen-sm mx-auto mt-10;
        @apply border-8 border-yellow-400 bg-black text-neutral-100;
      }

      .scanlines::before {
        content: " ";
        pointer-events: none;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        position: absolute;
        z-index: 10;
        background: linear-gradient(
            hsla(0, 6%, 7%, 0) 50%,
            rgba(0, 0, 0, 0.25) 0
          ),
          linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06)
          );
        background-size: 100% 2px, 3px 100%;
      }
    </style>
  </body>
</html>
