---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <h2>
    Robertown <span>Festival</span>
  </h2>
  <nav>
    <HeaderLink href="/">Inicio</HeaderLink>
    <HeaderLink href="/archivo">Archivo</HeaderLink>
    <HeaderLink href="/informacion">Info</HeaderLink>
    <HeaderLink href="/registro" class="button text-sm">Registro</HeaderLink>
  </nav>
</header>

<style>
  header {
    @apply flex items-center;
    @apply border-b border-neutral-800 bg-black;
    @apply px-4 py-2;
  }
  h2 {
    @apply text-base text-white;
    @apply mr-4 pl-1;
    @apply border-l-4 border-l-cyan-500;
    @apply uppercase tracking-wider font-bold;
  }
  h2 span {
    @apply bg-gradient-to-r from-cyan-500 to-indigo-500;
    @apply text-white;
    @apply p-2 inline-block;
  }
  nav {
    @apply flex gap-4 items-center;
    @apply ml-auto;
  }
</style>
