---
import { CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import { YouTube } from "@astro-community/astro-embed-youtube";

export async function getStaticPaths() {
  const posts = await getCollection("archivo");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"archivo">;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  {
    post.data.youtube && (
      <div class="max-w-screen-sm mx-auto my-10">
        <YouTube id={post.data.youtube} />
      </div>
    )
  }
  <!-- <h1>{post.data.title}</h1> -->
  <div class="my-4">Por {post.data.author}</div>
  <Content />
</BlogPost>
